body{
    background-color:plum;
}
h1{
    text-align: center;
    color: black;
    font-size:x-large;
    margin: auto;
}
.card{
    text-align:left;
    color: black;
    font-size: medium;
    margin :auto;
    border: dashed;

}


