body{
    background-color:plum;
}
h1{
    /* text-align: center;
    color: black;
    font-size:x-large;
    margin: auto; */
}
#toAppend{
    display: flex;

}
.card{
    
    color: black;

    width: 200px;
     flex-direction:column ;
    
}
.card img {
    width: 150px; 
    

}


